@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins;
}

.boxShadow {
  margin-top: 30px;
  border-radius: 31px;
  box-shadow: -4px 4px 26px 0px rgba(75, 100, 119, 0.69),
    4px 4px 16px 0px rgba(255, 255, 255, 0.15),
    4px 4px 26px 0px rgba(255, 255, 255, 0.37);
}
input {
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}
.padding {
  margin-top: 16px;
  margin-bottom: 16px;
}
button {
  border-radius: 8px;
  background-color: #1f485b;
  color: white;
}
